html body {
    background-image: url(https://i.ibb.co/n8RKcnm3/image.png);
    background-attachment: fixed; /* This keeps the image still */
    background-repeat: no-repeat;
    background-size: cover;       /* Optional: ensures image fills the screen */
    background-position: center
}

/* --- widths --- */

.sm15 {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}


/* --- background color --- */

.bgcolor1 {
    background-color: #B09162;
}

.bgcolor2 {
    background-color: #977B51;
}

.bgcolor3 {
    background-color: #F9F7E3;
}

.bgcolor4 {
    background-color: #87878C;
}

/* --- text colors --- */

.color1 {
    color: #80604B !important;
}

.color2 {
    color: #F9F7E3 !important;
}

/* --- border ---- */

.border1 {
    border: solid;
    border-width: 2px;
    border-color: #634835;
}

.borderless {
    border: none !important;
}

/* --- round corner --- */

.roundcorners60 {
    border-radius: 60px;
}

.roundcorners30 {
    border-radius: 30px;
}

.roundcorners20 {
    border-radius: 20px;
}

/* --- padding --- */

.padding30 {
    padding: 30px !important;
}

.padding60 {
    padding: 60px;
}


/* --- text align ---- */

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.narrow {
    max-width: 1500px;
    margin: 0 auto !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Navbar styling */

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.nav-btn {
    text-decoration: none;
    padding: 12px 25px;
    border: 1px solid #333333;
    transition: all 0.2s;
    text-transform: uppercase;
}

.nav-btn:hover {
    background-color: #977B51 !important;
}

.cen {
	text-align: center;

}



.picture {
			display: block;

}

.container2 {
		display: inline-flex;
		margin-right: 2%;
		margin-left: 2%;

				}


.deliusfont {
    font-family: "Delius";
}

.montserratfont {
    font-family: "Montserrat";
}

#footer {
    background-color: rgb(155, 155, 155);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px !important;
    display: flex !important;
    position: fixed !important;
    align-items: center !important;
    justify-content: center !important;
    color:  #1d1c1c;
}

.shortstackfont {
    font-family: "Short Stack";
}

input {
    border-radius: 20px !important;
    margin-bottom: 5px !important;
    width: 100%;
}
